/* product-detail.css */

#mainProductImage {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s ease;
}

/* Ảnh phụ */
.sub-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: border 0.3s ease;
}

.sub-image:hover,
.sub-image.active {
    border-color: #0d6efd; /* Màu xanh Bootstrap */
}
