/* Snow Animation Styles */
.snow-container {
    position: relative;
    overflow: hidden;
}

.snow-particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.snowflake {
    position: absolute;
    color: #87CEEB;
    font-size: 1em;
    text-shadow: 0 0 8px rgba(135, 206, 235, 0.9), 0 0 15px rgba(135, 206, 235, 0.6);
    animation: snowfall linear infinite;
    animation-play-state: running;
    opacity: 0.9;
    filter: drop-shadow(0 0 3px rgba(135, 206, 235, 0.8));
    will-change: transform, opacity;
}

.snowflake:nth-child(1) {
    left: 10%;
    animation-duration: 8s;
    animation-delay: 0s;
    color: #87CEEB;
}

.snowflake:nth-child(2) {
    left: 20%;
    animation-duration: 10s;
    animation-delay: 1s;
    color: #B0E0E6;
}

.snowflake:nth-child(3) {
    left: 30%;
    animation-duration: 7s;
    animation-delay: 2s;
    color: #ADD8E6;
}

.snowflake:nth-child(4) {
    left: 40%;
    animation-duration: 9s;
    animation-delay: 3s;
    color: #87CEEB;
}

.snowflake:nth-child(5) {
    left: 50%;
    animation-duration: 6s;
    animation-delay: 4s;
    color: #E0F6FF;
}

.snowflake:nth-child(6) {
    left: 60%;
    animation-duration: 11s;
    animation-delay: 5s;
    color: #B0E0E6;
}

.snowflake:nth-child(7) {
    left: 70%;
    animation-duration: 8s;
    animation-delay: 6s;
    color: #87CEEB;
}

.snowflake:nth-child(8) {
    left: 80%;
    animation-duration: 10s;
    animation-delay: 7s;
    color: #ADD8E6;
}

.snowflake:nth-child(9) {
    left: 90%;
    animation-duration: 7s;
    animation-delay: 8s;
    color: #E0F6FF;
}

.snowflake:nth-child(10) {
    left: 95%;
    animation-duration: 9s;
    animation-delay: 9s;
    color: #87CEEB;
}

@keyframes snowfall {
    0% {
        transform: translateY(-50px) rotate(0deg);
        opacity: 0;
    }
    5% {
        opacity: 0.9;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        transform: translateY(calc(100vh + 50px)) rotate(360deg);
        opacity: 0;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .snowflake {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .snowflake {
        font-size: 0.6em;
    }
} 