:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    margin: 0 0 0 120px;
    background: #ffffff;
  }
  .top-header {
    position: relative;
    height: 48px;
    margin: 0 0 0 0;
    background: #000000;
    overflow: hidden;
  }
  .roadmap {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    position: relative;
    width: 554px;
    margin: 79.5px 0 0 135px;
    z-index: 40;
  }
  .line-e {
    flex-shrink: 0;
    position: relative;
    width: 6.891px;
    height: 12.205px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-27/nEtzUfkXPg.png)
      no-repeat center;
    background-size: cover;
    z-index: 42;
  }
  .nothing {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    opacity: 0.5;
    z-index: 43;
  }
 

  .frame-15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
    position: relative;
    width: 296px;
    margin: 50px 135px;
    z-index: 50;
  }
  .chi-tiet-hoa-don {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 30px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
  
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 1.44px;
    z-index: 51;
  }
  .form-checkout {
    width: 100%;
  }
  .form-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .form-row .form-group{
    flex :1;
    text-align: left;
    padding-left: 0;
  }

  input.form-input{
    padding: 10px;
  }
  .information-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 482px;
    z-index: 52;
    margin-bottom: 40px;
  }

  .form-group {
    width: 100%;
  }

  .form-label {
    width: 100%;
  }

  .input-title {
    color: #6c6767;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .asterisk {
    color: #c11515;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .form-input {
    width: 100%;
    margin :10px 0;
    padding: 10px 0;
    border-radius: 4px;
    background-color: #eae9e9;
    border: none;
  }
  .select-address {
    width: 100%;
  }
  .shipping-address {
    width: 100%;
  }
  .button-submit {
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    background-color: #000000;
    color: #f9f9f9;
    margin-top: 10px;
  }
  .select-address-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px; 
  }


  .select-address-select {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0;
    border-radius: 4px;
    background-color: #eae9e9;
    border: none;
  }
  

  .frame-49 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 482px;
    z-index: 75;
  }
  .icon-checkbox {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-27/1SsishMzOR.png)
      no-repeat center;
    background-size: cover;
    z-index: 76;
    overflow: hidden;
    border-radius: 4px;
  }
  .luu-thong-tin {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 77;
  }

  .product-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 530px;
    height: 650px;
    padding: 20px 50px 50px 20px;
    background-color: #f0e8e8;
    border-radius: 3px;
  }
  .product-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 425px;
    z-index: 79;
  }
  .product-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 425px;
    z-index: 80;
  }
  .gamepad-cart-small {
    flex-shrink: 0;
    position: relative;
    width: 54px;
    height: 54px;
    z-index: 81;
    overflow: hidden;
  }

  .product-info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 100px;
    position: relative;
    width: 347px;
    z-index: 83;
  }
  .product-name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 84;
  }

  .product-image {
    position: relative;
    width: 50px;
    height: 39px;
    margin: 8px 0 0 2px;
    background-size: 100% 100%;
    z-index: 88;
  }
  .order-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 428px;
    z-index: 92;
  }
  .order-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 428px;
    z-index: 93;
  }
    .order-info-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      flex-shrink: 0;
      gap: 16px;
      position: relative;
      width: 428px;
      z-index: 94;
    }
  .order-info-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 428px;
    z-index: 95;
  }
  .order-sub-total {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 296px;
    position: relative;
    width: 428px;
    z-index: 96;
  }
  .total-cost {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 97;
  }
  .sumary-price {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 98;
  }
  .order-shipping-fee {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 270px;
    position: relative;
    width: 428px;
    z-index: 101;
  }
  .shipping-fee-title {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 102;
  }
  .shipping-fee-price {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 103;
  }
  .underline-product-list {
    flex-shrink: 0;
    position: relative;
    width: 422px;
    height: 0px;
    opacity: 0.4;
    z-index: 104;
  }

  .line-product-list {
    width: 100%;
    height: 2px; 
    background-color: #000; 
    z-index: 105;
  }
  
  .frame-5d {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 306px;
    position: relative;
    width: 428px;
    z-index: 106;
  }
  .total-order {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 107;
  }
 .payment-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .payment-option:first-child {
    display: flex;
    flex-direction: row;

 }
  .bank-payment {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 112;
    margin-right: 20px;
    margin-left: 5px;
  }

  .bank-icons {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
  }
  
  .bkash {
    flex-shrink: 0;
    position: relative;
    width: 42px;
    height: 28px;
    z-index: 114;
    overflow: hidden;
  }
  .image {
    position: relative;
    width: 37.8px;
    height: 16.8px;
    margin: 5.6px 0 0 2.1px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-27/yKmwW8LnZv.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 115;
  }
  .visa {
    flex-shrink: 0;
    position: relative;
    width: 42px;
    height: 28px;
    z-index: 116;
    overflow: hidden;
  }
  .image-62 {
    position: relative;
    width: 37.8px;
    height: 11.2px;
    margin: 8.4px 0 0 2.1px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-27/3cZgtDBVKW.png)
      no-repeat center;
    background-size: cover;
    z-index: 117;
  }
  .mastercard {
    flex-shrink: 0;
    position: relative;
    width: 42px;
    height: 28px;
    z-index: 118;
    overflow: hidden;
  }
  .image-63 {
    position: relative;
    width: 39.2px;
    height: 25.2px;
    margin: 1.4px 0 0 1.4px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-27/1c4333XVCp.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 119;
  }
  .nagad {
    flex-shrink: 0;
    position: relative;
    width: 42px;
    height: 28px;
    z-index: 120;
    overflow: hidden;
  }
  .image-64 {
    position: relative;
    width: 39.2px;
    height: 18.2px;
    margin: 4.9px 0 0 1.4px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-27/5xk9UkSHzr.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 121;
  }

  .coupon-code {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    width: 528px;
    z-index: 125;
  }
  .coupon-code-input {
    flex-shrink: 0;
    position: relative;
    width: 192px;
    height: 56px;
    border: 1px solid #000000;
    z-index: 126;
    overflow: hidden;
    border-radius: 4px;
  }
  .discount-code {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: calc(50% - 13px);
    left: 23px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    opacity: 0.5;
    z-index: 127;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 271px;
    height: 56px;
    padding: 16px 48px 16px 48px;
    z-index: 128;
    background-color: #000000;
    border-radius: 4px;
  }
  .apply-discount {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    width: 100%;
    height: 100%;
    color: #CCCCCC;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 129;
    text-align: center;
    background-color: #454444;
  }

  .apply-discount:focus {
    background-color: #313030;
    text-align: center;
  }
  .order-submit-button {
    background-color: #181818;
    color: #f9f9f9;
    height: 100%;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left:auto;
    padding: 16px 60px 16px 60px;
  }
  .order-submit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;

  }
  .button-coupon {
    background-color: #000000;
    color: #f9f9f9;
    height: 100%;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 132;
    font-family: Poppins, var(--default-font-family);
    padding : 16px 48px 16px 48px;
  }

  .button-coupon:hover {
    background-color: #5a5858;
  }

  .button-coupon:active {
    background-color: #c77979;
  }



  .coupon-code-button {
    width: 100%;
    height: 100%;
  }

  .custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    gap: 8px;
  }
  
  .custom-checkbox input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox .checkmark {
    width: 18px;
    height: 18px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    transition: 0.2s;
  }
  
  /* Khi được chọn */
  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  /* Vẽ dấu check */
  .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  