/* Tùy chỉnh thêm hiệu ứng */
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.buy-now-btn:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

/* Tùy chỉnh cho dropdown */
.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}

/* Hiệu ứng xoay mũi tên */
.arrow-icon,
.arrow-icon-second {
    transition: transform 0.3s ease;
}

.arrow-icon.rotate,
.arrow-icon-second.rotate {
    transform: rotate(-90deg);
}

/* Tùy chỉnh thêm hiệu ứng */
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.buy-now-btn:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

/* CSS cho slider */
.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 1152px;
    /* 5 slides, mỗi slide chiếm 100% */
    transition: transform 1s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.pagination-button.active {
    border: 3px solid #ffffff;
    /* Thêm viền trắng khi active */
}

/* CSS cho timer */
.text-timer {
    font-size: 12px;
    font-weight: 500;
}

.text-timer-number {
    font-size: 32px;
    font-weight: bold;
}

/* CSS cho khuyến mãi */
.card-button-container {
    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
}

.card_product:hover .card-button-container {
    transform: translateY(0);
    opacity: 1;
}

.background-card {
    position: relative;
    overflow: hidden;
}

/* CSS khám phá sản phẩm */
.swiper-container-explore {
    width: 100%;
    height: 100%;
}

.slide-explore {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
}

.card_product_explore {
    max-height: 340px;
    /* Để 2 hàng vừa trong 700px */
    overflow: hidden;
}

.slide-promotion,
.slide-best-seller {
    width: 372px !important;
    max-width: 100%;
    height: auto !important;
}

.card_product {
    max-height: 340px;
    /* Để 2 hàng vừa trong 700px */
    overflow: hidden;
    width: 360px;
}

.card_product img {
    max-height: 150px;
    width: auto;
    object-fit: cover;
}

.background-card {
    width: 100%;
    height: 210px;
}

.card-button-container {
    width: 100%;
}

/* Hover thông báo customer */
.dropdown-notification {
    position: relative;
}

.dropdown-notification .dropdown-notification-content {
    display: none;
    top: calc(100% + 15px);
    right: 0;
    z-index: 10;
}

.dropdown-notification:hover .dropdown-notification-content {
    display: block;
}

.dropdown-notification:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 15px;
    background: transparent;
    z-index: 9;
}

.clip-triangle {
    clip-path: content-box polygon(50% 0, 100% 100%, 0 100%);
}

/* Dropdown User */
.dropdown-parent {
    position: relative;
}

.dropdown-content {
    display: none;
    top: calc(100% + 15px);
    right: 0;
    z-index: 10;
}

.dropdown-parent:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 15px;
    background: transparent;
    z-index: 9;
}

.clip-triangle-second {
    clip-path: content-box polygon(50% 0, 100% 100%, 0 100%);
}

.dropdown-parent:hover .dropdown-content {
    display: block;
}